/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.like-icon {
  height: 34px; /*высота спрайта (высота одного кадра)*/
  width: 39px; /*ширина спрайта (ширина одного кадра)*/
}

.theme-menu__button:disabled::before {
  animation: play 0.5s infinite ease-in-out;
  animation-direction: alternate;
}

.like-icon .core,
.like-icon .main-body,
.like-icon {
  fill: transparent; 
}


/*При hover*/

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--font-color); 
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--font-color); 
  transition: fill 0.3s linear 0.05s; 
}

/*При удержании*/
.like-icon:active .core {
  fill: #FF0000; 
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: #FF0000; 
  transition: fill 0.3s linear 0.05s; 
}

/* При клике */

.like-icon.is-liked .core {
  fill: #FF0000; 
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: #FF0000; 
  transition: fill 0.3s linear 0.05s;
}

.like-icon .contour {
  fill: var(--font-color); 
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: #FF0000; 
  transition: fill 0.3s linear 0.06s;
}


.like-icon.is-liked .heart {
  animation: scaleHeart 0.3s ease-in 0.1s; 
  transform-origin: center;
  animation-direction: alternate;
}

@keyframes scaleHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}


.like-icon.is-liked .sparks {
  animation: sparkAnimation 0.3s ease-in 0.3s;
  animation-direction: alternate;
}

@keyframes sparkAnimation {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes play {
  0% {
    inset-inline-start: -15px;
  }

  100% {
    inset-inline-start: -19px;
  }
}
