/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

@supports ((text-stroke: 1px var(--back-color))) or
  ((-webkit-text-stroke: 1px var(--back-color))) {
  .label {
    -webkit-text-stroke: 1px var(--back-color);
    text-shadow: none;
  }
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-text), sans-serif;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--fone-gradient);
  background-color: var(--reserv-color);
  background-attachment: fixed;
  background-size: cover;
  color: var(--font-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 98px auto 0 auto;
  padding: 140px 0 28px 0;
  max-width: 700px;
  border: 2px solid var(--border);
  background-color: var(--back-color);
}

.ahead {
  outline: none;
  font-size: 49px;
  font-weight: 400;
}

.ahead__title {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 14px;
}

.header .ahead {
  margin-bottom: 20px;
  font-size: calc(49px + (65 - 49) * ((100vw - 375px) / (1440 - 375)));
}

.header .ahead__title {
  font-size: calc(14px + (23 - 14) * ((100vw - 375px) / (1440 - 375)));
  text-transform: uppercase;
}

.header__theme-menu {
  margin-top: 21px;
}

.theme-menu__list {
  display: grid;
  gap: 14.5px;
  margin-left: 17px;
}

.theme-menu__item {
  font-size: 14px;
}

.theme-menu__button {
  opacity: 1;
  transition: all 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: 0;
  inset-inline-start: -15px;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  opacity: 0.6;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--font-color);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus {
  position: relative;
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible:after {
  opacity: 0.6;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.section__cards {
  display: flex;
  flex-direction: column;
  gap: 43.3px;
  margin: 0 auto;
  padding-top: 97px;
  max-width: 700px;
}

.post__sprint {
  border: 2px solid var(--border);
  background-color: var(--back-color);
}

.subheader {
  font-family: var(--font-text-content), sans-serif;
  font-variation-settings: "wght" var(--font-subheader);
  font-size: 18px;
  max-width: 67%;
  padding: 6px 5px 6px 8px;
}

.wrapper {
  display: flex;
  position: relative;
}

.label {
  position: absolute;
  mix-blend-mode: hard-light;
  inset-block-start: 27px;
  inset-inline-end: 25px;
  font-family: var(--font-text), sans-serif;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 400;
  text-shadow: -1px 0 var(--back-color), 0 1px var(--back-color),
    1px 0 var(--back-color), 0 -1px var(--back-color);
}

.filter__opacity {
  filter: sepia(65%) opacity(0.8);
}

.filter__saturate {
  filter: saturate(400%);
}

.filter__hue-rotate {
  filter: hue-rotate(35deg);
}

.filter__invert {
  filter: invert(100%);
}

.filter__sepia {
  filter: sepia(90%);
}

.filter__blur {
  filter: blur(0.4rem);
}

.filter__blur-invert {
  filter: hue-rotate(100deg) saturate(250%) blur(2px) invert(30%);
}

.logo {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.foto-border {
  outline: 2px solid var(--font-color);
}

.text {
  font-family: var(--font-text-content), sans-serif;
  font-variation-settings: "wght" var(--font-item);
  font-size: 18px;
  line-height: 21px;
}

.info {
  padding: 27.9px 25px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 28.6px;
}

.event {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 6px;
  padding-top: 26.3px;
}

.sparks {
  opacity: 0;
}

.card__icon-button {
  transition: 0.3s ease;
}

.card__icon-button:focus {
  border: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--font-color);
}

.card__like-button {
  height: 38px;
  width: 130px;
  font-family: var(--font-text), sans-serif;
  border: 2px solid var(--border);
  text-transform: none;
  position: relative;
  overflow: hidden;
}

.main-button {
  transition: 0.3s ease;
}

.main-button:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--font-color);
}

.main-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  color: var(--font-text);
  transition: all 0.5s ease-in-out;
}

.main-button:hover::before {
  left: 0;
  background-color: var(--font-color);
}

.main-button .button__text {
  mix-blend-mode: difference;
  color: var(--button-text);
}

.button__text {
  display: flex;
  justify-content: center;
}

.card__modal-button {
  display: grid;
  grid-template-columns: 11% 87%;
  align-items: center;
  margin: 45px auto 55px auto;
  background-color: var(--back-color);
  border: 2px solid var(--border);
  width: 339px;
  height: 55px;
  text-transform: none;
  position: relative;
  overflow: hidden;
}

.modal-icon {
  margin-left: 19px;
  width: 21px;
  height: 21px;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text);
}

.footer__popover {
  width: 340px;
  height: 195px;
  position: fixed;
  margin: auto;
  border: 2px solid var(--popover-font);
  background-color: var(--popover-fone);
  color: var(--popover-font);
  font-family: var(--font-text), sans-serif;
  text-transform: uppercase;
}

.footer__popover::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal {
  display: flex;
  align-items: center;
  gap: 19px;
  margin: 5px 0 17px 26px;
}

.modal-icon-dialog {
  width: 85px;
  height: 88px;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text);
}

.popover__text {
  line-height: 21px;
  font-size: 14px;
}

.card__popover-button {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--popover-font);
  margin-left: 23px;
  width: 258px;
  height: 37px;
}

@media (max-width: 375px) {
  .header {
    margin: 100px auto 0 auto;
    padding: 121px 0 25px 0;
  }

  .header .ahead {
    margin-bottom: 19px;
  }

  .header__theme-menu {
    margin-top: 26px;
  }

  .theme-menu__list {
    gap: 14px;
    margin-left: 21px;
  }

  .section__cards {
    gap: 53px;
    padding-top: 99px;
  }

  .subheader {
    padding: 5px 5px 5px 9px;
    max-width: 88%;
  }

  .label {
    top: 26px;
    right: 11px;
  }

  .info {
    padding: 28.6px 25px 22.5px 25px;
  }

  .item {
    gap: 27px;
  }

  .event {
    padding-top: 25px;
  }

  .card__modal-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    padding-top: 15px;
    margin: 52px 33px;
    width: 309px;
    height: 85px;
  }

  .modal-icon {
    margin: 0;
    width: 28px;
    height: 28px;
  }

  .modal {
    margin: 3px 0 19px 24px;
    gap: 21px;
  }

  .modal-icon-dialog {
    width: 81px;
    height: 84px;
  }
}
